$cor-primaria: #FF8A00;
$cor-secundaria: #610752;
$cor-tercearia: #F7D8F2;
$cor-quarternaria:rgba(97, 7, 82, 0.3843);
$cor-quinternaria: #56524B;

$background-primario:#FF8A00;
$background-secundario: #610752;
$background-terceario:#F7D8F2;
$background-quarternario:rgba(97, 7, 82, 0.3843);


  /*  -- Formulário Abrir chamado --  */
  
  h5, h6, label{
    color: $cor-secundaria;
    font-weight: 500;
  }
  .hero{
    color: $cor-quarternaria;
    font-weight: 500;
  }
  .button-primario{
    background-color: $cor-primaria;
    color: $cor-secundaria;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    width: 75px;
    height: 35px;
  }
  .button-primario:hover{
    background-color: $cor-secundaria;
    color: $cor-primaria;
    transition: .5s;
  }
  .button-primario:active{
    background-color: $cor-quinternaria;
    color: $cor-tercearia;
    transition: .1s;
  }
  
  
  
  
  
  h2{
   color:$cor-primaria;
   margin-bottom: 0;
  }
  .icon-button-primario{
    width: 30px;
    height: 25px;
    font-weight: 500;
    background-color:$cor-secundaria;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-button-primario .fa-regular,
  .icon-button-primario .fa-solid{
    color:$cor-primaria;
  }
  .icon-button-secundario{
    width: 25px;
    height: 20px;
    font-weight: 500;
    color:$cor-secundaria;
    background-color:$cor-primaria;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu-conta main p{
    font-size: 14px;
<<<<<<< HEAD
=======
    color: $cor-secundaria;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  }
 
  /* 
  Cor primária 
  --> h2
  --> background do icon no card funcionários
  --> categorias gmail, aniversario e colaborador desde, em card funcionário
  --> icon no card menu-conta
  
  cor secundária
  --> Navbar brand e nav-links
  --> h6 hero menu-conta
  --> itens de texto no card menu-conta
  --> background da caixa do icon no card menu-conta
  --> font button logout no menu-conta
  --> font button enviar no formulario home
  --> font label formularios
  --> h6 header main formulário home
  --> h5 titulo card meus chamados
  --> p card meus chamados
  --> span card meus chamado (privado--publico--data--funcionario)
  --> font button visualizar card meus chamdos
  --> font button paginação 1-2-3 meus chamados
  --> h5 titulo card chamados públicos
  --> p card chamados públicos
  --> span card chamados públicos (privado--publico--data--funcionario)
  --> font button visualizar card chamados públicos
  --> font button paginação 1-2-3 chamados públicos
  --> Nome card funcionário
  --> Icon card funcionário
  --> Font icon paginação funcionário
  
  cor-terceária
  --> background card meus chamados
  --> background card menu-conta meus chamados
  --> background card chamados públicos
  --> background card menu-conta chamados públicos
  --> background card funcionários
  --> background card menu-conta funcionários
  
  cor-quarternária
  --> Font nav-link active
  --> font p header form home
  --> font input radios
  --> background inputs home
  --> background card menu-conta home
  --> font p header meus chamados, chamados públicos e funcionários
  
  cor-quinternária
  --> font descrição cargo, o email, aniversario, data de colaboração
  no card funcionarios
  --> font footer
  
  */
  
  
  /*
  
  Tamanho de fontes
  --> Home:
  -----> h2 (Bem vindo Jacobet) (primária)
  -----> h6 (Abra um novo chamado) (secundária)
  -----> p
  -----> Label (em cima dos inputs)
  -----> h6 nome do usuário logado menu-conta (secundária)
  -----> p cargo do usuário logado menu-conta
  
  --> Meus chamados:
  -----> h2 (Meus chamados)
  -----> h5 título dos cards meus chamados (secundária)
  -----> p conteúdo dos cards meus chamados
  -----> h6 nome do usuário logado menu-conta (secundária)
  -----> p cargo do usuário logado menu-conta
  
  --> Chamados Públicos:
  -----> h2 Chamados públicos
  -----> h5 título dos cards chamados públicos (secundária)
  -----> p conteúdo dos cards chamados públicos
  -----> h6 nome do usuário logado menu-conta (secundária)
  -----> p cargo do usuário logado menu-conta
  
  --> Funcionários:
  -----> h6 nome do fucionário (secundária)
  
  
  
  --> Buttons (Global):
  -----> background primária
  -----> font secundária
  
  
  
  
  
  /*
  
  
  Cor primária 
  --> h2
  --> background do icon no card funcionários
  --> categorias gmail, aniversario e colaborador desde, em card funcionário
  --> icon no card menu-conta
  
  cor secundária
  --> Navbar brand e nav-links
  --> h6 hero menu-conta
  --> itens de texto no card menu-conta
  --> background da caixa do icon no card menu-conta
  --> font button logout no menu-conta
  --> font button enviar no formulario home
  --> font label formularios
  --> h6 header main formulário home
  --> h5 titulo card meus chamados
  --> p card meus chamados
  --> span card meus chamado (privado--publico--data--funcionario)
  --> font button visualizar card meus chamdos
  --> font button paginação 1-2-3 meus chamados
  --> h5 titulo card chamados públicos
  --> p card chamados públicos
  --> span card chamados públicos (privado--publico--data--funcionario)
  --> font button visualizar card chamados públicos
  --> font button paginação 1-2-3 chamados públicos
  --> Nome card funcionário
  --> Icon card funcionário
  --> Font icon paginação funcionário
  
  cor-terceária
  --> background card meus chamados
  --> background card menu-conta meus chamados
  --> background card chamados públicos
  --> background card menu-conta chamados públicos
  --> background card funcionários
  --> background card menu-conta funcionários
  
  cor-quarternária
  --> Font nav-link active
  --> font p header form home
  --> font input radios
  --> background inputs home
  --> background card menu-conta home
  --> font p header meus chamados, chamados públicos e funcionários
  
  cor-quinternária
  --> font descrição cargo, o email, aniversario, data de colaboração
  no card funcionarios
  --> font footer
  
  
  Tamanho de fontes
  --> Home:
  -----> h2 (Bem vindo Jacobet) (primária)
  -----> h6 (Abra um novo chamado) (secundária)
  -----> p
  -----> Label (em cima dos inputs)
  -----> h6 nome do usuário logado menu-conta (secundária)
  -----> p cargo do usuário logado menu-conta
  
  --> Meus chamados:
  -----> h2 (Meus chamados)
  -----> h5 título dos cards meus chamados (secundária)
  -----> p conteúdo dos cards meus chamados
  -----> h6 nome do usuário logado menu-conta (secundária)
  -----> p cargo do usuário logado menu-conta
  
  --> Chamados Públicos:
  -----> h2 Chamados públicos
  -----> h5 título dos cards chamados públicos (secundária)
  -----> p conteúdo dos cards chamados públicos
  -----> h6 nome do usuário logado menu-conta (secundária)
  -----> p cargo do usuário logado menu-conta
  
  --> Funcionários:
  -----> h6 nome do fucionário (secundária)
  
  
  
  --> Buttons (Global):
  -----> background primária
  -----> font secundária
  
  
  
  
  */
  
  
  