@charset "UTF-8";
/*  -- Formulário Abrir chamado --  */
body{
  background-image: url(../imgs/accets/background.svg);
  background-size: cover;
  text-align: justify;
}
nav, #dashboard, #menu-conta{
<<<<<<< HEAD
  border: 3px solid #FFFFFF;
=======
  border: 4px solid #FF8A00;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  border-radius:15px;
}


h5, h6, label {
<<<<<<< HEAD
  color: #FFFFFF;
=======
  color: #610752;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  font-weight: 500;
}

.hero {
<<<<<<< HEAD
  color:#FFFF;
=======
  color: rgba(97, 7, 82, 0.3843);
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  font-weight: 500;
}

.button-primario {
<<<<<<< HEAD
  background-color: #FFFF;
  color: black;
=======
  background-color: #FF8A00;
  color: #610752;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  font-weight: 500;
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 35px;
}
.button-primario-meus-chamados {
<<<<<<< HEAD
  background-color: #FFFF;
  color: black;
=======
  background-color: #FF8A00;
  color: #610752;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  font-weight: 500;
  border: none;
  border-radius: 5px;
  width: 85px;
  height: 35px;
}
.button-primario-meus-chamados-paginacao{
<<<<<<< HEAD
  background-color: #FFFF;
  color: black;
=======
  background-color: #FF8A00;
  color: #610752;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  font-weight: 500;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-decoration: none;
}

.button-primario:hover, 
.button-primario-meus-chamados-paginacao:hover, 
.button-primario-meus-chamados:hover{
<<<<<<< HEAD
  background-color: #56524B;
  color: #FFFF;
=======
  background-color: #610752;
  color: #FF8A00;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  transition: 0.5s;
}

.button-primario:active {
  background-color: #56524B;
  color: #F7D8F2;
  transition: 0.1s;
}

h2 {
<<<<<<< HEAD
  color: #FFFFFF;
=======
  color: #FF8A00;
>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
  margin-bottom: 0;
}


<<<<<<< HEAD
=======

.icon-button-secundario {
  width: 25px;
  height: 20px;
  font-weight: 500;
  color: #610752;
  background-color: #FF8A00;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}


>>>>>>> f5d3d5a706015c64e0ad54ec85cee64c0718133a
/* 
Cor primária 
--> h2
--> background do icon no card funcionários
--> categorias gmail, aniversario e colaborador desde, em card funcionário
--> icon no card menu-conta

cor secundária
--> Navbar brand e nav-links
--> h6 hero menu-conta
--> itens de texto no card menu-conta
--> background da caixa do icon no card menu-conta
--> font button logout no menu-conta
--> font button enviar no formulario home
--> font label formularios
--> h6 header main formulário home
--> h5 titulo card meus chamados
--> p card meus chamados
--> span card meus chamado (privado--publico--data--funcionario)
--> font button visualizar card meus chamdos
--> font button paginação 1-2-3 meus chamados
--> h5 titulo card chamados públicos
--> p card chamados públicos
--> span card chamados públicos (privado--publico--data--funcionario)
--> font button visualizar card chamados públicos
--> font button paginação 1-2-3 chamados públicos
--> Nome card funcionário
--> Icon card funcionário
--> Font icon paginação funcionário

cor-terceária
--> background card meus chamados
--> background card menu-conta meus chamados
--> background card chamados públicos
--> background card menu-conta chamados públicos
--> background card funcionários
--> background card menu-conta funcionários

cor-quarternária
--> Font nav-link active
--> font p header form home
--> font input radios
--> background inputs home
--> background card menu-conta home
--> font p header meus chamados, chamados públicos e funcionários

cor-quinternária
--> font descrição cargo, o email, aniversario, data de colaboração
no card funcionarios
--> font footer

*/
/*

Tamanho de fontes
--> Home:
-----> h2 (Bem vindo Jacobet) (primária)
-----> h6 (Abra um novo chamado) (secundária)
-----> p
-----> Label (em cima dos inputs)
-----> h6 nome do usuário logado menu-conta (secundária)
-----> p cargo do usuário logado menu-conta

--> Meus chamados:
-----> h2 (Meus chamados)
-----> h5 título dos cards meus chamados (secundária)
-----> p conteúdo dos cards meus chamados
-----> h6 nome do usuário logado menu-conta (secundária)
-----> p cargo do usuário logado menu-conta

--> Chamados Públicos:
-----> h2 Chamados públicos
-----> h5 título dos cards chamados públicos (secundária)
-----> p conteúdo dos cards chamados públicos
-----> h6 nome do usuário logado menu-conta (secundária)
-----> p cargo do usuário logado menu-conta

--> Funcionários:
-----> h6 nome do fucionário (secundária)



--> Buttons (Global):
-----> background primária
-----> font secundária




*/

/*# sourceMappingURL=style.css.map */
